.spinner {
  display: inline-block;
  position: relative;
}

.circle {
  display: inline-block;
  border: 2px solid hsl(var(--muted));
  border-radius: 50%;
  border-top-color: hsl(var(--primary));
  animation: spin 1s ease-in-out infinite;
}

.sm .circle {
  width: 1rem;
  height: 1rem;
}

.md .circle {
  width: 1.5rem;
  height: 1.5rem;
}

.lg .circle {
  width: 2rem;
  height: 2rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
